HOST=http://192.168.0.27
REST_PORT=6104
SOCKET_PORT=

MYSQL_HOST=192.168.0.22
MYSQL_USER=nodejs
MYSQL_PASSWORD=nodejs@2024
MYSQL_DATABASE=nodejs_docudrive

BASE_DOWNLOAD_URL=http://192.168.0.27:6104

DOWNLOAD_TOKEN_SECRET=your-long-secret-key
DOWNLOAD_TOKEN_EXPIRY=600

# Storage Configuration
# All buckets and files will be stored under this base path
BASE_STORAGE_PATH=

CRON_SCHEDULE=*/1 * * * *

JWT_SECRET=my_super_secret_key